*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	background-color: #111;
	color: #eee;
	font: 16px Arial, sans-serif;
	overflow: hidden;
	overflow-y: scroll;
}
output {
	font: 24px monospace;
}

dl, p {
	padding: 0;
	margin: 0 0 1rem 0;
}

input[type="color"] {
	-webkit-appearance: none;
	border: none;
	padding: 0;
}
input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}
input[type="color"]::-webkit-color-swatch {
	border: none;
}
label {
	display: block;
}
a {
	color: #aaa;
	text-decoration: none;
}
a:hover {
	color: #fff;
}

#forza-colors {
	display: grid;
	gap: .25rem;
	grid-template-columns: auto 20rem;
}
#result output:after {
	content: ", ";
}
#result output:last-child:after {
	content: "";
}
#result dt,
#result dd {
	color: #888;
}
#result .frz {
	color: #fff;
}
#picture {
	position: relative;
	box-sizing: border-box;
	align-self: center;
}
#image {
	width: 100%;
	height: auto;
	z-index: -1;
	box-sizing: border-box;
	display: block;
}
#canvas {
	position: absolute;
	z-index: 1;
	inset: 0;
	width: 100%;
	height: auto;
	box-sizing: border-box;
	cursor: crosshair;
	user-select: none;
}
#magnify {
	display: none;
	position: absolute;
	z-index: 2;
	/* inset: 0; */
	width: 200px;
	height: 200px;
	border: 1px solid #000;
	box-shadow: 5px 5px 10px #000;
}
#colors {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

#color {
	display: block;
    width: 100px;
    height: 100px;
	border: 1px solid black;
}

#preview {
	border: 1px solid red;
}
